<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <router-link to="/">Login</router-link> |
        <router-link to="/books">Books</router-link>
      </div>
      <div class="col">

      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-danger" v-on:click="logout">Logout</button>
      </div>
    </div>
  </div>

  <router-view />
</template>

<script>
  import axios from "axios";

  export default {
    data() {
      return {
        access: typeof localStorage.getItem('access_token') !== "undefined" ? true:false
      }
    },
    methods: {
      logout : function (event){
        localStorage.removeItem('refresh_token');
        localStorage.removeItem('access_token');
      },
    },
  }
</script>