<template>
    <br/>
    <button type="button" class="btn btn-primary" v-on:click="create()">Create</button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Marketplace</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for='(book, index) in books'>
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.name }}</td>
            <td>{{ book.marketplace_source }}</td>
            <td>{{ book.created_at }}</td>
            <td>{{ book.updated_at }}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info" v-on:click="edit(book.id)">Update</button>
                    <button type="button" class="btn btn btn-danger" v-on:click="removeBook(book.id)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                books: []
            }
        },
        methods: {
            async getBooks() {
                const {data, status} = await axios.get("http://localhost:8000/api/books/", {
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('access_token'),
                    }
                });
                if(status != 200){
                    window.location.href = "/";
                }
                this.books = typeof data?.data !== 'undefined' ? data.data : [];
            },

            create: function () {
                window.location.href = "/books/add";
            },
            edit: function (id) {
                window.location.href = "/books/edit/"+id;
            },
            removeBook: async function (id) {
                const {status} = await axios.delete("http://localhost:8000/api/books/"+id, {
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('access_token'),
                    }
                });
                if( status == 200){
                    this.getBooks();
                }
            }
        },
        beforeMount() {
            this.getBooks();
        },
    }
</script>

<style scoped>

</style>