<template>
    <h2>Add book</h2>
    <div class="form-group">
        <label for="email">Name:</label>
        <input type="text" class="form-control" name="name" v-on:change="changeField" v-model="book.name">
    </div>
    <div class="form-group">
        <label for="pwd">Marketplace:</label>
        <input type="text" class="form-control" v-on:change="changeField" v-model="book.marketplace_source" name="marketplace_source">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" v-on:click="createBook">Update</button>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                book: {}
            }
        },
        methods: {
            async createBook(id)
            {
                const {status} = await axios.post("http://localhost:8000/api/books/", {name:this.book.name,marketplace_source:this.book.marketplace_source}, {
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('access_token'),
                    }
                });
                if(status == 200){
                    window.location.href = "/books";
                }
            },

            changeField : function (event){
                this.book[event.target.name] = event.target.value
            },

        },
    }
</script>

<style scoped>

</style>