<template>
    <h2>Update book {{ $route.params.id }}</h2>
    <div class="form-group">
        <label for="email">Name:</label>
        <input type="text" class="form-control" name="name" v-on:change="changeField" v-model="book.name">
    </div>
    <div class="form-group">
        <label for="pwd">Marketplace:</label>
        <input type="text" class="form-control" v-on:change="changeField" v-model="book.marketplace_source" name="marketplace_source">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" v-on:click="updateBook($route.params.id)">Update</button>
</template>

<script>
    import axios from "axios";
    import { useRoute } from 'vue-router'

    export default {
        data() {
            return {
                book: {}
            }
        },
        methods: {
            async getBooks()
            {
                const route = useRoute()
                const {data, status} = await axios.get("http://localhost:8000/api/books/"+route.params.id,{
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('access_token'),
                    }
                });
                if(status != 200){
                    window.location.href = "/";
                }
                this.book = typeof data?.data !== 'undefined' ? data.data : [];
            },
            async updateBook(id)
            {
                const {status} = await axios.put("http://localhost:8000/api/books/"+id, {name:this.book.name,marketplace_source:this.book.marketplace_source}, {
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('access_token'),
                    }
                });
                if(status == 200){
                    window.location.href = "/books";
                }
            },

            changeField : function (event){
                this.book[event.target.name] = event.target.value
            },

        },
        beforeMount() {
            this.getBooks();
        },
    }
</script>

<style scoped>

</style>