<template>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
            </div>
            <div class="col-md-auto">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="username" name="username" v-on:change="changeField" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" v-on:change="changeField" class="form-control" id="exampleInputPassword1">
                    <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
                </div>
                <button type="submit" v-on:click="login" class="btn btn-primary">Login</button>
            </div>
            <div class="col col-lg-2">
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                credentials: {}
            }
        },
        methods: {
            async login(id)
            {
                const {data,status} = await axios.post("http://localhost:8000/api/token/", this.credentials);
                if(status == 200){
                    localStorage.setItem('access_token',data.access)
                    localStorage.setItem('refresh_token',data.refresh)
                    window.location.href = "/books";
                }
            },

            changeField : function (event){
                this.credentials[event.target.name] = event.target.value
            },

        },
    }
</script>

<style scoped>

</style>